
.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
   padding: 10px 2%;
}
.service {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.service:hover {
  transform: translateY(-15px);
  background-color:orchid;
  
}

.service i {
  font-size: 40px;
  color:#0d47a1;
  margin-bottom: 10px;
}
.service i:hover{
  color:#004d40;
}